<div class="row"> 
  <div class="col-sm-6">
    <h2><%= @interest.name %></h2> 
  
    <h3>Check out these activities</h3>
    <% @interest.activities.each do |activity| %>
      <h4><a href="<%= activity.link %>" target="_blank"><%= activity.description %></a></h4>
    <% end %>

    <h3>Check out who else is interested in <%= @interest.name %></h3>
    <% @users.each do |user| %>
      <h4><a href="users/<%= user.id %>"><%= user.name %></a></h4>
    <% end %>
  </div>
</div> 